/*COLORES*/
$primary: #760b0bee;
$danger:#315799;
$secondary:#4e4e4e;
$info:#7c727b;
$success:#0d6efd;

/*Breakpoint*/
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 801px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

@import "./node_modules/bootstrap/scss/bootstrap.scss"