.navbar,
.footer{
    background-color:  #760b0bee;
}

.art-1{
    background-color: #315799;
}
.art-2{
    background-color: #4e4e4e;
}
.art-3{
    background-color: #7c727b;
}

.redes{
    color:  #760b0bee;
}
h1{
    color:  #760b0bee;
}
#carreras input{
    background-color:  #760b0bee;
}
#carreras p{
   font-size:smaller;
}
#notice-container input{
    background-color:  #760b0bee;
}
